div:local(.text-editable) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

textarea:local(.text-editable) {
  overflow: auto;
  resize: none;
  outline: none;
  background: transparent;
  border: 0;
  width: 100%;
}
